<% provide(:title, "About") %>
<h1>About</h1>
<p>
   This is a product commenting application which allows users to post comments regarding recent purchases that they have made.  These comments should show up on the product page that the comment is related to.  </p>
